<div class="container">
  <div class="forms-container"  align="center">
      <h1 class="text-info mt-3">Order</h1>
      <% include ./partials/messages %> 
      <a href="/" class="float-start ms-5 h1" role="button"><i class="bi bi-arrow-left-circle-fill"></i></a>
      <form action="/order" method="post" class="">
      <div class="row">
        <% let subTotal = 0 %> 
        <div class="col-md-12" >
          <table class="table caption-top" cellspacing="0" width="100%">
            <thead>
                <tr class="text-center">
                    <th scope="col">No</th>
                    <th scope="col">Product</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Sub Total</th>
                </tr>
            </thead>
            <tbody id="">
                
                <% for( let index = 0; index < carts.length; index++ ) { %>
                <% const cart = carts[index] %> 
                
                <tr style="white-space: nowrap;" class="align-middle text-center">
                  <th scope="row"><%= index+1 %></th>
                  <td><%= cart.product.name %></td>
                  <td><img src="<%= cart.product.imageURL %>" alt="" height="100px"> </td>
                  <td><%= cart.product.price %> </td>
                  <td><%= cart.quantity %></td>
                  <td><%= Number(cart.product.price * cart.quantity) %> </td>
                </tr>
                <% subTotal += Number(cart.product.price * cart.quantity) %> 
                <% } %>
            
            </tbody>
          </table>
          <input type="hidden" value="<%= subTotal %>" id="subTotal">
          <h5 class="float-end mx-5">Total Product Price : Rp<%= subTotal %></h5><br>
        </div>
        <hr>
        <br>
        
        <div class="col-md-6" >
          <div class="input-group mb-3 rounded">
            <label class="input-group-text" for="">Province</label>
            <select class="form-select" name="province" id="province-select" required>
              <option selected disabled>Choose...</option>
              <% for( let index = 0; index < provinces.length; index++ ) { %>
              <% const province = provinces[index] %> 
                <option value="<%= province.province_id %>"><%= province.province %></option>
              <% } %>
              
            </select>
          </div>
        </div>
        <div class="col-md-6" >
          <div class="input-group mb-3 rounded">
            <label class="input-group-text" for="">City</label>
            <select class="form-select" name="city" id="city-wrapper" required>
              <option selected disabled>Choose...</option>
            </select>
          </div>
        </div>

        <div class="col-md-6" >
          <div class="input-group mb-3 rounded">
            <label class="input-group-text" for="">Courier</label>
            <select class="form-select" name="courier" id="courier-select" required>
              <option selected disabled>Choose...</option>
              <% for( let index = 0; index < couriers.length; index++ ) { %>
              <% const courier = couriers[index] %> 
                <option value="<%= courier.code %>"><%= courier.name %></option>
              <% } %>
              
            </select>
          </div>
        </div>

        <div class="col-md-6" >
          <div class="input-group mb-3 rounded">
            <label class="input-group-text" for="">Service</label>
            <select class="form-select" name="service" id="service-wrapper" required>
              <option selected disabled>Choose...</option>
              
            </select>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="text" name="address" placeholder="Full Address" value="<%= typeof address != 'undefined' ? address : '' %>"  required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="number" name="postalCode" placeholder="Postal Code" value="<%= typeof postalCode != 'undefined' ? postalCode : '' %>" required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="text" name="name" placeholder="Recipient's Name" value="<%= typeof name != 'undefined' ? name : '' %>" required />
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="text" name="phone" placeholder="Phone" value="<%= typeof phone != 'undefined' ? phone : '' %>" required />
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-field">
            <i class="fas fa-lock">Total</i>
            <input type="number" name="total" placeholder="Total" value="<%= typeof total != 'undefined' ? total : subTotal %>" id="totalOrder" required readonly/>
          </div>
        </div>
        
      </div>
      <input type="submit" class="btn btn-primary my-5" value="Order" />
      </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    async function getData(url = '') {
      const response = await fetch(url, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      })
      return response.json(); 
    }
    async function postData(url = '', data = {}) {
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      return response.json(); 
    }

  $(function(){
    let subTotal = $('#subTotal').val()
    $('#totalOrder').val(subTotal)

    let province = null
    let city = null
    let courier = null
    let service = null
    $('#province-select').change(function(){
      province = $('#province-select').val()
      getData('/order/province/'+province)
      .then(data => {
        var cityWrapper = $('#city-wrapper')
        $(cityWrapper).empty();
        city = data[0].city_id
        for (let index = 0; index < data.length; index++) {
          const city = data[index];
          $(cityWrapper).append(
            `
            <option value="${city.city_id}">${city.city_name}</option>
            `
          )
          
        }

      })
    })

    $('#city-wrapper').change(function(){
      city = $('#city-wrapper').val()
    })

    $('#courier-select').change(function(){
      courier = $('#courier-select').val()
      postData('/order/costs', {
        origin: 444,
        destination: city,
        weight: 1500,
        courier: courier
      })
      .then(data => {
        console.log(data)
        if(province != null){
          var serviceWrapper = $('#service-wrapper')
          $(serviceWrapper).empty();
          service = data[0].cost[0].value
          let total = Number(Number(service) + Number(subTotal))
          $('#totalOrder').val(total)
          for (let index = 0; index < data.length; index++) {
            const service = data[index];
            $(serviceWrapper).append(
              `
              <option value="${service.service};${service.cost[0].value}">${service.service} (Rp${service.cost[0].value})</option>
              `
            )
            
          }
        }
        else{
          alert('Select Province and City first!')
        }
        
      })
    })

    $('#service-wrapper').change(function(){
      let service = $('#service-wrapper').val()
      let arr = service.split(';')
      let total = Number(Number(arr[1]) + Number(subTotal))
      $('#totalOrder').val(total)
    })

  })
</script>
    
    