<style>
    .rating {
    --dir: right;
    --fill: gold;
    --fillbg: rgba(100, 100, 100, 0.15);
    --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
    --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
    --stars: 5;
    --starsize: 3rem;
    --symbol: var(--star);
    --value: 1;
    --w: calc(var(--stars) * var(--starsize));
    --x: calc(100% * (var(--value) / var(--stars)));
    block-size: var(--starsize);
    inline-size: var(--w);
    position: relative;
    touch-action: manipulation;
    -webkit-appearance: none;
    }
    [dir="rtl"] .rating {
    --dir: left;
    }
    .rating::-moz-range-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    }
    .rating::-webkit-slider-runnable-track {
    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
    }
    .rating::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    }
    .rating::-webkit-slider-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
    -webkit-appearance: none;
    }
    .rating, .rating-label {
    display: block;
    font-family: ui-sans-serif, system-ui, sans-serif;
    }
    .rating-label {
    margin-block-end: 1rem;
    }
</style>
<div class="container">
    <div class="forms-container"  align="center">
        <h1 class="text-info mt-3"><%= username %> Order List</h1>
        <% include ./partials/messages %> 
        <a href="/" class="float-start ms-5 h1" role="button"><i class="bi bi-arrow-left-circle-fill"></i></a>
        <div class="row">
            <div class="col-md-12" >
              <table class="table caption-top" cellspacing="0" width="100%">
                <thead>
                    <tr class="text-center">
                        <th scope="col">No</th>
                        <th scope="col">Recipient Name</th>
                        <th scope="col">Province</th>
                        <th scope="col">City</th>
                        <th scope="col">Address</th>
                        <th scope="col">Postal Code</th>
                        <th scope="col">Total</th>
                        <th scope="col">Status</th>
                        <th scope="col">Transfer</th>
                        <th scope="col">Delivery</th>
                        <th scope="col">Products</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="">
                    <% for( let index = 0; index < orders.length; index++ ) { %>
                        <% const order = orders[index] %> 
                        <tr style="white-space: nowrap;" class="align-middle text-center">
                            <th scope="row"><%= index+1 %></th>
                            <td><%= order.name %></td>
                            <td><%= order.province.province %></td>
                            <td><%= order.city.city_name %></td>
                            <td><%= order.address %></td>
                            <td><%= order.postalCode %></td>
                            <td><%= order.total %></td>
                            <% 
                            const stts = status.find(data => data.id == order.paymentStatus)
                            %> 
                            <td class="h5"><%= stts.description %></td>
                            <% if (order.transferImageURL != '') { %>
                                <td><a href="<%= order.transferImageURL %>" target="_blank"><img src="<%= order.transferImageURL %>" alt="" height="100px"></a></td>
                            <% } else{%>
                                <td><a role="button" class="btn btn-info btn-lg w-auto" id="btn-delivery" data-bs-toggle="modal" data-bs-target="#modalTransfer"><i class="bi bi-info-square"></i></a></td>
                            <% } %> 
                            
                            <td><a role="button" class="btn btn-secondary btn-lg w-auto" id="btn-delivery" data-bs-toggle="modal" data-bs-target="#modalDelivery" onclick="showDelivery('<%= order._id %>')"><i class="bi bi-truck"></i></a></td>
                            <td><a role="button" class="btn btn-secondary btn-lg w-auto" id="btn-products" data-bs-toggle="modal" data-bs-target="#modalProducts" onclick="showProducts('<%= order._id %>')"><i class="bi bi-phone"></i></a></td>
                            
                            <% if (order.approve == false) { %>
                                <% if (client.admin) { %>
                                    <% if (order.paymentStatus == 1) { %>
                                        <td><a role="button" class="btn btn-success btn-lg w-auto" id="btn-approve" onclick="approveOrder('<%= order._id %>')"><i class="bi bi-check-circle"></i></a></td>
                                    <% } %>
                                <% } else {%>
                                    <td><a role="button" class="btn btn-warning btn-lg w-auto" id="btn-payment" data-bs-toggle="modal" data-bs-target="#modalPayment" onclick="uploadPayment('<%= order._id %>')"><i class="bi bi-upload"></i></a></td>
                                <% } %>
                            <% } else { %>
                                <% if (client.admin) { %>
                                    <% if (order.paymentStatus == 2) { %>
                                        <td><a role="button" class="btn btn-warning btn-lg w-auto" id="btn-receipt" data-bs-toggle="modal" data-bs-target="#modalReceipt" onclick="inputNumberReceipt('<%= order._id %>')"><i class="bi bi-pencil-square"></i></a></td>
                                    <% } else if (order.paymentStatus == 3) { %>
                                        <td><a role="button" class="btn btn-success btn-lg w-auto" id="btn-done-delivery" onclick="doneDelivery('<%= order._id %>')"><i class="bi bi-truck"></i></a></td>
                                    <% } %>
                                <% } else {%>
                                    <td><a href="/order/detail/<%= order._id %>" role="button" class="btn btn-info btn-lg w-auto" id="btn-payment" ><i class="bi bi-receipt"></i></a></td>
                                    <% if (order.paymentStatus == 5) { %>
                                        <td><a role="button" class="btn btn-warning btn-lg w-auto" id="btn-testi" data-bs-toggle="modal" data-bs-target="#modalTesti" onclick="sendTesti('<%= order._id %>')"><i class="bi bi-star-fill"></i></a></td>
                                    <% } %>
                                <% }%>
                            <% } %> 
                        </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDelivery" role="dialog">
    <div class="modal-dialog modal-lg bg-light rounded">
        <div class="modal-content" align="center">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Delivery</h4>
            </div>
            
            <!-- Modal Body -->
            <div id="delivery-wrapper">
            <div class="row">
                <div class="col-md-6" >
                    <h1>Courier</h1>
                    <label for="">Name</label>
                    <h4>JNEAHH</h4>
                    <br>
                    <label for="">Name</label>
                    <h4>JNEAHH</h4>
                </div>
                <div class="col-md-6" >
                    <h1>Service</h1>
                    <label for="">Name</label>
                    <h4>JNEAHH</h4>
                    <br>
                    <label for="">Name</label>
                    <h4>JNEAHH</h4>
                </div>
                <div class="col-md-12">
                    <img src="" alt="">
                </div>
            </div>
            </div>
            
            <!-- Modal Footer -->
            <!-- <div class="modal-footer">
            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="modalProducts" role="dialog">
    <div class="modal-dialog modal-lg bg-light rounded">
        <div class="modal-content" align="center">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Products</h4>
            </div>
            
            <!-- Modal Body -->
            <table class="table caption-top" cellspacing="0" width="100%">
                <thead>
                    <tr class="text-center">
                        <th scope="col">No</th>
                        <th scope="col">Product</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Sub Total</th>
                    </tr>
                </thead>
                <tbody id="products-wrapper"> 
                <div id="">
                    
                </div>
                </tbody>
                
            </table>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPayment" role="dialog">
    <div class="modal-dialog modal-lg bg-light rounded">
        <div class="modal-content" align="center">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Upload Payment</h4>
            </div>
            
            <!-- Modal Body -->
                <form action="/order/payment" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="orderID" id="orderID" value="">
                    <label for="formFileLg" class="form-label">Evidence of Transfer</label>
                    <input id="input-b1" name='picture' type="file" class="file" data-browse-on-zone-click="true" required>
                </form>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalReceipt" role="dialog">
    <div class="modal-dialog modal-lg bg-light rounded">
        <div class="modal-content" align="center">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Input Receipt Number</h4>
            </div>
            
            <!-- Modal Body -->
                <form action="/order/receipt" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="orderID" id="orderID2" value="">
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="text" name="receipt" placeholder="Receipt Number" required />
                    </div>
                    <input id="input-b1" name='picture' type="file" class="file" data-browse-on-zone-click="true" required>
                    <!-- <input type="submit" class="btn btn-primary"> -->
                </form>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTesti" role="dialog">
    <div class="modal-dialog modal-lg bg-light rounded">
        <div class="modal-content" align="center">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Send Testimonial</h4>
            </div>
            
            <!-- Modal Body -->
                <form action="/order/testi" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="orderID" id="orderID3" value="">
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="text" name="message" placeholder="Message" required />
                    </div>
                    <% const data = "--stars:5;--value:0" %> 
                    <label class="rating-label">Rate</strong>
                        <input
                          class="rating"
                          max="5"
                          oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                          step="1"
                          style = "<%= data %>"
                          type="range"
                          name="rate"
                          value="">
                    </label>
                    <input type="submit" class="btn btn-primary">
                </form>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTransfer" role="dialog">
    <div class="modal-dialog modal-lg bg-light rounded">
        <div class="modal-content" align="center">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Transfer</h4>
            </div>
            
            <!-- Modal Body -->
            <div class="row">
                <div class="col-md-12 mt-4">
                    <h4>BNI 0690694149</h4>
                    <p>Sdr Putu Bagus Kertha Segara</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4">
                    <h4>BCA 1520648025</h4>
                    <p>Sdr Putu Bagus Kertha Segara</p>
                </div>
            </div>
            
            
            <!-- Modal Footer -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/buffer.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/filetype.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/sortable.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
<script>

    function doneDelivery(orderID){
        let confirmation = confirm('Are you sure to Finish this delivery?')
        if(confirmation){
            getData('/api/order/status/'+orderID+'?status='+4)
            .then(data => {
                alert(data.message)
                location.reload();
            })
        }
    }

    function sendTesti(orderID){
        var fieldOrderID = $('#orderID3')
        $(fieldOrderID).val(orderID)
    }

    function inputNumberReceipt(orderID){
        var fieldOrderID = $('#orderID2')
        $(fieldOrderID).val(orderID)
    }

    function approveOrder(orderID){
        let confirmation = confirm('Are you sure to Approve this order?')
        if(confirmation){
            getData('/api/order/approve/'+orderID)
            .then(data => {
                alert(data.message)
                location.reload();
            })
        }
    }

    function uploadPayment(orderID){
        var fieldOrderID = $('#orderID')
        $(fieldOrderID).val(orderID)
    }

    function showProducts(orderID){
        getData('/api/order/product/'+orderID)
        .then(data => {
            var productsWrapper = $('#products-wrapper')
            $(productsWrapper).empty();
            let subTotal = 0
            for (let index = 0; index < data.length; index++) {
                const cart = data[index];
                
                $(productsWrapper).append(
                `
                <tr style="white-space: nowrap;" class="align-middle text-center">
                    <th scope="row">${index+1}</th>
                    <td>${cart.product.name }</td>
                    <td><img src="${cart.product.imageURL}" alt="" height="100px"> </td>
                    <td>${cart.product.price} </td>
                    <td>${cart.quantity}</td>
                    <td>${Number(cart.product.price * cart.quantity)}</td>
                </tr>
                `
                )
                subTotal += Number(cart.product.price * cart.quantity)
            }

            var footer = $('.modal-footer')
            $(footer).empty();
            $(footer).append(
            `
            <h5 class="float-end mx-3">Total Product Price : Rp${subTotal}</h5><br>
            `
            )
        })
    }

    function showDelivery(orderID){
        getData('/api/order/delivery/'+orderID)
        .then(data => {
            let courierReceiptNumber = data.courierReceiptNumber
            if(data.courierReceiptNumber == ''){
                courierReceiptNumber = '---'
            }
            var deliveryWrapper = $('#delivery-wrapper')
            $(deliveryWrapper).empty();
            $(deliveryWrapper).append(
                `
                <div class="row my-3">
                <div class="col-md-12" >
                    <label for="">Receipt Number</label>
                    <h4>${courierReceiptNumber}</h4>
                </div>
                <div class="col-md-6" >
                    <h1>Courier</h1>
                    <label for="">Name</label>
                    <h4>${data.courier.name}</h4>
                    <br>
                    <label for="">Code</label>
                    <h4>${data.courier.code}</h4>
                </div>
                <div class="col-md-6" >
                    <h1>Service</h1>
                    <label for="">Name</label>
                    <h4>${data.service.name}</h4>
                    <br>
                    <label for="">Price</label>
                    <h4>${data.service.price}</h4>
                </div>
                <br>
                <div class="col-md-12 mt-3">
                    <img src="${data.courierReceiptImageURL}" width="70%" alt="">
                </div>
                </div>
                `
            )
        })
    }

    async function getData(url = '') {
      const response = await fetch(url, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
      })
      return response.json(); 
    }

    
</script>